.env
backend/src/ft_transcendence/billpong/__pycache__/
backend/src/ft_transcendence/api/__pycache__/
backend/src/ft_transcendence/media/
backend/src/ft_transcendence/migrations/__pycache__/
__pycache__/
*.pyc
db.sqlite3
snapshot/
ELK/Elasticsearch/snapshot/
*.sw*
nginx/ssl
frontend/dev
