# Django
Django==5.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
django-crontab==0.7.1
django-cors-headers==4.3.1
drf-yasg<1.22
channels>=4.0,<5.0
# daphne>=4.0,<5.0
# channels_redis>=3.0,<4.0

# Database
psycopg==3.1.18


# Test
pytest==7.4.3
pytest-django==4.7.0

# CoreAPI
coreapi==2.3.1

#utils
django-cors-headers
python-dotenv
setuptools
wheel
Pillow		
