.build-container {
    position: fixed;
    bottom: 0; right: 0;
    height: 90vh;
    /* width: 260px; */
    max-width: 260px;
    aspect-ratio: 400/600;
    margin: 0 auto;
    border: 2px dashed #422445;
    z-index: 0;
}

.build-container__layer {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  z-index: 0;
  pointer-events: none;
}

.build-container__layer--back {
  background-image: url("../rsc/back.png");
  z-index: 1;
}

.build-container__layer--pong-on{
  background-image: url("../rsc/game1.png");
  z-index: 3;
  display: none;
}

.build-container__layer--pong-off{
  background-image: url("../rsc/game2.png");
  z-index: 2;
  display: block;
}

.build-container__layer--profile-on{
  background-image: url("../rsc/profile1.png");
  z-index: 3;
  display: none;
}

.build-container__layer--profile-off{
  background-image: url("../rsc/profile2.png");
  z-index: 2;
  display: block;
}

.build-container__layer--dash-on{
  background-image: url("../rsc/dash1.png");
  z-index: 3;
  display: none;
}

.build-container__layer--dash-off{
  background-image: url("../rsc/dash2.png");
  z-index: 2;
  display: block;
}

.build-container__layer--log-on{
  background-image: url("../rsc/log1.png");
  z-index: 3;
  display: none;
}

.build-container__layer--log-off {
  background-image: url("../rsc/log2.png");
  z-index: 2;
  display: block;
}

.build-container__layer--build {
  background-image: url("../rsc/build.png");
  z-index: 10;
}

.build-container__hotspot {
  position: absolute;
  cursor: pointer;
  border: 1px solid red;
  background: transparent;
  pointer-events: auto;
}

.build-container__hotspot--pong {
  top: 6%;
  right: 1%;
  width: 35%;
  height: 5%;
  z-index: 999;
}

.build-container__hotspot--profile {
  top: 17%;
  right: 5%;
  width: 38%;
  height: 4%;
  z-index: 999;

}

.build-container__hotspot--dashboard {
  top: 31%;
  right: 1%;
  width: 45%;
  height: 8%;
  z-index: 999;
}


.build-container__hotspot--log {
  top: 48%;
  right: 2%;
  width: 45%;
  height: 7%;
  z-index: 999;
}
.build-container__group {}
.build-container__group--pong {}
.build-container__group--profile {}
.build-container__group--dashboard {}
.build-container__group--log {}
