/* Tableau et carte transparent pour le dashboard*/

.semi-transparent-table thead,
.semi-transparent-table tbody,
.semi-transparent-table tr,
.semi-transparent-table th,
.semi-transparent-table td{
  background-color: rgba(255, 233, 107, 0.1) !important;
}

.semi-transparent-card {
  background-color: rgba(254, 109, 145, 0.36);

  border-radius: 8px;

}



.card-body{
  box-shadow: #422445 0px 0px 20px;
  border: 2px solid black;
  border-radius: 0;
  box-shadow: 0px 0px 20px #422445;
}