*{
  font-family: "Pixelade", sans-serif;
}

@font-face {
  font-family: 'Pixelade';
  src: url('../rsc/Pixelade.woff2') format('woff2'),
  url('../rsc/Pixelade.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.themePink {
  background: url("../rsc/pinkcity.gif") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  background-attachment: fixed;
}
