  /* Thème 1 */
  .theme1{
    margin: 0;
    background: url("../rsc/futurdeer.gif") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
  }

  .theme1 .connect-btn {
    font-family: "Pixelify Sans";
    background-color: #30546E; /* Couleur de fond perso */
    border: none;                /* Enlève la bordure */
    color: #FFFEEB;             /* Couleur du texte */
    padding: 1rem 2rem;          /* De l’espace autour du texte */
    font-size: 1.2rem;           /* Taille du texte */
    border-radius: 8px;          /* Coins arrondis */
  }

  .theme1 .connect-btn:hover {
    background-color: #316595;
    color: #FFFEEB;
  }
  .theme1 .connect-btn:active {
    color: #316595;
    background-color: #FFFEEB;
  }


  /* Thème 2 */
.theme2 {
  background: url("../rsc/city.gif") no-repeat center center fixed;
  background-size: cover;
}
.theme2 .connect-btn {
  background-color: #504FB1;
  color: #FF82A2;
  border: none;
  font-family: "Tiny5";
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 8px;
}
.theme2 .connect-btn:hover {
  background-color: #537DFB;
  color: #FF82A2;
}
.theme2 .connect-btn:active {
  color: #537DFB;
  background-color: #FF82A2;
}

/* Thème 3 */
.theme3 {
  background: url("../rsc/rain.gif") no-repeat center center fixed;
  background-size: cover;
}
.theme3 .connect-btn {
  background-color: #0B6F86;
  color: #E6CC59;
  border: none;
  font-family: "Jacquard 12";
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 8px;
}
.theme3 .connect-btn:hover {
  background-color: #2C8EA1;
  color: #E6CC59;
}
.theme3 .connect-btn:active {
  color: #2C8EA1;
  background-color: #E6CC59;
}

/* Thème 4 */
.theme4 {
  background: url("../rsc/pinkcity.gif") no-repeat center center fixed;
  background-size: cover;
}
.theme4 .connect-btn {
  background-color: #BD4882;
  color: #F2A65E;
  border: none;
  font-family: "Micro 5";
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 8px;
}
.theme4 .connect-btn:hover {
  background-color: #FF6B97;
  color: #F2A65E;
}