<div id="buildContainer">
    <div class="layer" id="layerBack"></div>
    <div id="profileGroup">
        <div class="layer" id="layerProfileOn"></div>
        <div class="layer" id="layerProfileOff"></div>
        <div class="hotspot" id="btnProfile" data-off="layerProfileOff" data-on="layerProfileOn" data-load="profile">
        </div>
    </div>

    <div id="dashboardGroup">
        <div class="layer" id="layerDashOn"></div>
        <div class="layer" id="layerDashOff"></div>
        <div class="hotspot" id="btnDash" data-off="layerDashOff" data-on="layerDashOn" data-load="dashboard"></div>
    </div>

    <div id="pongGroup">
        <div class="layer" id="layerGameOff"></div>
        <div class="layer" id="layerGameOn"></div>
        <div class="hotspot" id="btnGame" data-off="layerGameOff" data-on="layerGameOn" data-load="pong"></div>
    </div>

    <div id="loginGroup">
        <div class="layer" id="layerLogOn"></div>
        <div class="layer" id="layerLogOff"></div>
        <div class="hotspot" id="btnLog" data-off="layerLogOff" data-on="layerLogOn" data-load="login"></div>
    </div>

    <div class="layer" id="layerBuild"></div>

</div>