<div class="build-container">

    <div class="build-container__layer build-container__layer--back"></div>
    <div id="pongGroup" class="build-container__group build-container__group--pong">
        <div id="layerPongOn" class="build-container__layer build-container__layer--pong-on"></div>
        <div id="layerPongOff" class="build-container__layer build-container__layer--pong-off"></div>
        <div class="build-container__hotspot build-container__hotspot--pong" data-off="layerPongOff"
            data-on="layerPongOn" data-load="pong"></div>
    </div>

    <div id="profileGroup" class="build-container__group build-container__group--profile">
        <div id="layerProfileOn" class="build-container__layer build-container__layer--profile-on"></div>
        <div id="layerProfileOff" class="build-container__layer build-container__layer--profile-off"></div>
        <div class="build-container__hotspot build-container__hotspot--profile" data-off="layerProfileOff"
            data-on="layerProfileOn" data-load="profile">
        </div>
    </div>

    <div id="dashboardGroup" class="build-container__group build-container__group--dashboard">
        <div id="layerDashOn" class="build-container__layer build-container__layer--dash-on"></div>
        <div id="layerDashOff" class="build-container__layer build-container__layer--dash-off"></div>
        <div class="build-container__hotspot build-container__hotspot--dashboard" data-off="layerDashOff"
            data-on="layerDashOn" data-load="dashboard">
        </div>
    </div>

    <div id="loginGroup" class="build-container__group build-container__group--log">
        <div id="layerLogOn" class="build-container__layer build-container__layer--log-on"></div>
        <div id="layerLogOff" class="build-container__layer build-container__layer--log-off"></div>
        <div class="build-container__hotspot build-container__hotspot--log" data-off="layerLogOff" data-on="layerLogOn"
            data-load="login">
        </div>
    </div>

    <div class="build-container__layer build-container__layer--build"></div>

</div>


<div id="errorModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="errorMessage">An error occurred.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div id="resultModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Match Results</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="winMsg"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>