<div id="loginSection">
	<form class="form-container" id="loginForm">
		<div class="form-container__title">Connect to play !</div>
		<div class="form-container__field">
			<label class="form-container__label" for="loginInput">Login</label>
			<input class="form-container__input" type="text" id="loginInput" placeholder="Enter your login" />
		</div>
		<div class="form-container__field">
			<label class="form-container__label" for="loginInput">Password</label>
			<input class="form-container__input" type="text" id="passwordInput" placeholder="Enter your password" />
		</div>
		<button class="form-container__button" type="submit" id="connectButton">Connect</button>
		<button class="form-container__button" type="button" id="registerButton">Register</button>
</div>
</form>
</div>


</div><div class="modal fade" id="2FALoginModal" style="display: none;">
	  <div class="modal-content">
		<!-- En-tête de la modal -->
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="2FAModalLabel">2FA</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<!-- Corps de la modal : champs de réglages -->
		<div class="modal-body">
		  <div class="mb-3">
			<label for="Code2FA" class="form-label">Code:</label>
			<input type="text" id="code2FAInputLogin" class="form-control" placeholder="Enter 2FA code"
			  style="background-color: rgba(255, 186, 106, 0.5)" />
		  </div>
  
		<!-- Pied de la modal : bouton de sauvegarde -->
		<div class="modal-footer">
		  <button id="validate2FAFromLogin" class="btn btn-primary">Validate</button>
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	  </div>
  </div>

<div id="registerSection" style="display: none;">
	<form class="form-container" id="registerForm">
		<div class="form-container__title">Create your account !</div>
		<div class="form-container__field">
			<label class="form-container__label" for="loginInput">Login</label>
			<input class="form-container__input" type="text" id="loginInputRegister" placeholder="Choose your login" />
		</div>
		<div class="form-container__field">
			<label class="form-container__label" for="loginInput">Password</label>
			<input class="form-container__input" type="text" id="passwordInputRegister"
				placeholder="Choose your password" />
		</div>
		<div class="form-container__field">
			<label class="form-container__label" for="loginInput">Confirm Password</label>
			<input class="form-container__input" type="text" id="confirmPasswordInput"
				placeholder="Confirm your password" />
		</div>
		<button class="form-container__button" type="submit">Create account</button>
		<button class="form-container__button" type="button" id="backToLoginButton">Back to login</button>
	</form>
</div>

