<form class="form-container" id="loginForm">
<div class="form-container__title">Connect to play !</div>
<div class="form-container__field">
  <label class="form-container__label" for="loginInput">Login</label>
  <input class="form-container__input" type="text" id="loginInput" placeholder="Enter your login" />
</div>
<div class="form-container__field">
  <label class="form-container__label" for="loginInput">Password</label>
  <input class="form-container__input" type="text" id="passwordInput" placeholder="Enter your password" />
</div>
</div>




<!-- JE TE DETESTE
<div class="container d-flex flex-column justify-content-start align-items-center" style="height:100vh; padding-top: 50px;">


  <div id="loginSection" style="width: 100%; max-width: 400px;">
    <form id="loginForm">
      <div class="mb-3">
        <label for="loginInput" class="form-label" style="font-size: 1.25rem;">Login</label>
        <input type="text" class="form-control form-control-lg" id="loginInput" placeholder="Enter your login" />
      </div>

      <div class="mb-3">
        <label for="passwordInput" class="form-label" style="font-size: 1.25rem;">Password</label>
        <input type="password" class="form-control form-control-lg" id="passwordInput" placeholder="Enter your password" />
      </div>

      <button type="button" 
      class="btn my-button mt-3" 
      data-bs-toggle="modal" 
      data-bs-target="#twoFAModal">
      2FA
     </button>
    <div class="modal fade" id="twoFAModal" tabindex="-1" aria-labelledby="twoFAModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="twoFAModalLabel">Enter your 2FA Code</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">

            <input type="text" class="form-control" id="twoFACodeInput" placeholder="000000"/>
            <small class="text-muted">Please enter the 6-digit code from your Authenticator app.</small>
          </div>

          <div class="modal-footer">

            <button type="button" class="btn btn-primary" id="2FAValidateButton">
              Validate
            </button>

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>


      <button type="submit" class="btn my-button btn-lg mt-4 w-100" id="connectButton">CONNECT</button>

      <button type="button" class="btn my-button btn-lg mt-4 w-80" id="registerButton">
        REGISTER
      </button>

      <button class="btn my-button btn-lg mt-4 w-80" id="connect42Button">
        CONNECT WITH 42
      </button>
    </form>
  </div>

  <div id="registerSection" style="display: none; width: 100%; max-width: 600px;">
  <div class="card mt-4 semi-transparent-card" style="width: 80%;">
    <div class="card-body">
  <div class="semi-transparent-card-inside" style="width: 80%;">
    <div class="card-body">
    <form id="registerForm">

      <div class="mb-3">
        <label class="form-label" style="font-size: 1.25rem;">Login</label>
        <input type="text" class="form-control form-control-lg" placeholder="Choose your login" />
      </div>

      <div class="mb-3">
        <label class="form-label" style="font-size: 1.25rem;">Mail</label>
        <input type="text" class="form-control form-control-lg" placeholder="Enter your mail" />
      </div>

      <div class="mb-3">
        <label class="form-label" style="font-size: 1.25rem;">Password</label>
        <input type="password" class="form-control form-control-lg" placeholder="Choose your password" />
      </div>

      <div class="mb-3">
        <label class="form-label" style="font-size: 1.25rem;">Confirm Password</label>
        <input type="password" class="form-control form-control-lg" placeholder="Confirm your password" />
      </div>

      <button type="button" 
      class="btn my-button mt-3" 
      data-bs-toggle="modal" 
      data-bs-target="#twoFAModal">
      2FA
     </button>
      <button type="submit" class="btn my-button btn-lg mt-4 w-100">
        CREATE ACCOUNT
      </button>
    </form>

    <button type="button" class="btn my-button btn-lg mt-4 w-80" id="backToLoginButton">
      BACK TO LOGIN
    </button>
  </div>
</div>
</div>
</div>
</div>



<div class="modal fade" id="twoFAModal" tabindex="-1" aria-labelledby="twoFAModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="twoFAModalLabel">Enter your 2FA Code</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <input type="text" class="form-control" id="twoFACodeInput" placeholder="000000"/>
        <small class="text-muted">Please enter the 6-digit code from your Authenticator app.</small>
      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-primary" id="2FAValidateButton">
          Validate
        </button>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div> -->
