
<div id="pong-page">
	<div id="title-container">
		<h1>PONGOPOLYS</h1>
	</div>
	<div id="pong-setup">
		<div id="settings-container">
			<div id="settings-title-container">
				<p>Mods</p>
			</div>
			<div id="settings-list-container"></div>
			<div id="mods-list-container"></div>
			<footer>
				<div id="switch-menu-btn">
					<p>=> Custom</p>
				</div>
			</footer>
		</div>
		<div id="center-container">
			<!-- <div id="mods-container">
				<button class="mod-btn" id="btn-solo">
					<p>Solo</p>
				</button>
				<button class="mod-btn" id="btn-versus">
					<p>1vs1</p>
				</button>
				<button class="mod-btn" id="btn-tournament">
					<p>Tournament</p>
				</button>
			</div> -->
			<div id="game-preview"></div>
			<div id="start-btn">
				<p>START !</p>
			</div>
		</div>
	</div>
</div>





<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pongopolis</title>
    <style>
        body { margin: 0; }
    </style>
</head>
<body>
    <script type="importmap">
		{
		  "imports": {
			"three": "https://cdn.jsdelivr.net/npm/three@0.173.0/build/three.module.js",
			"three/addons/": "https://cdn.jsdelivr.net/npm/three@0.173.0/examples/jsm/"
		  }
		}
	  </script>
    <script type="module" src="js/pong/main.js"></script>
</body>
</html> -->