
<div class="container d-flex flex-column justify-content-start align-items-center" style="height:100vh; padding-top: 50px;">
    <h1 class="mb-4" style="font-size: 2.5rem;">PONGOPOLYS</h1>
    <div id="gameContainer"></div>
</div>


<div id="building">
  <button onclick="load_page('profile')" class="btn my-button" id="profileButton">PROFILE</button>
  <button onclick="load_page('dashboard')" class="btn my-button" id="dashboardButton">DASHBOARD</button>
  <button onclick="load_page('login')" class="btn my-button" id="loginButton">RETURN TO LOGIN</button>
</div>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pongopolis</title>
    <style>
        body { margin: 0; }
    </style>
</head>
<body>
    <script type="importmap">
		{
		  "imports": {
			"three": "https://cdn.jsdelivr.net/npm/three@0.173.0/build/three.module.js",
			"three/addons/": "https://cdn.jsdelivr.net/npm/three@0.173.0/examples/jsm/"
		  }
		}
	  </script>
    <script type="module" src="js/pong/main.js"></script>
</body>
</html> -->