
<div id="pong-page">
	<div id="title-container">
		<h1>PONGOPOLYS</h1>
	</div>
	<div id="pong-setup">
		<div id="settings-container">
			<div id="settings-title-container">
				<p>Mods</p>
			</div>
			<div id="settings-list-container"></div>
			<div id="mods-list-container"></div>
			<footer>
				<div id="switch-menu-btn">
					<p>=> Custom</p>
				</div>
			</footer>
		</div>
		<div id="center-container">
			<div id="game-preview"></div>
			<div id="start-btn">
				<p>START !</p>
			</div>
			<div id="tournament-btn">
				<p>TOURNAMENT</p>
			</div>
		</div>
	</div>
</div>
