<div id="tournament__container" class="container mt-4">
	<h2 class="text-center">Tournament</h2>
	<ul id="tournament__playerlist" class="list-group mb-3">
		<li class="list-group-item d-flex justify-content-between align-items-center tournament__playerlist__item"></li>
		<span class="tournament__playerlist__item__name">Player 1</span>
		<button class="btn btn-danger btn-sm tournament__playerlist__item__removebtn">Remove</button>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center tournament__playerlist__item"></li>
		<span class="tournament__playerlist__item__name">Player 2</span>
		<button class="btn btn-danger btn-sm tournament__playerlist__item__removebtn">Remove</button>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center tournament__playerlist__item"></li>
		<span class="tournament__playerlist__item__name">Player 1</span>
		<button class="btn btn-danger btn-sm tournament__playerlist__item__removebtn">Remove</button>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center tournament__playerlist__item"></li>
		<span class="tournament__playerlist__item__name">Player 2</span>
		<button class="btn btn-danger btn-sm tournament__playerlist__item__removebtn">Remove</button>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center tournament__playerlist__item"></li>
		<span class="tournament__playerlist__item__name">Player 1</span>
		<button class="btn btn-danger btn-sm tournament__playerlist__item__removebtn">Remove</button>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center tournament__playerlist__item"></li>
		<span class="tournament__playerlist__item__name">Player 2</span>
		<button class="btn btn-danger btn-sm tournament__playerlist__item__removebtn">Remove</button>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center tournament__playerlist__item"></li>
		<span class="tournament__playerlist__item__name">Player 1</span>
		<button class="btn btn-danger btn-sm tournament__playerlist__item__removebtn">Remove</button>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center tournament__playerlist__item"></li>
		<span class="tournament__playerlist__item__name">Player 2</span>
		<button class="btn btn-danger btn-sm tournament__playerlist__item__removebtn">Remove</button>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center tournament__playerlist__item"></li>
		<span class="tournament__playerlist__item__name">Player 1</span>
		<button class="btn btn-danger btn-sm tournament__playerlist__item__removebtn">Remove</button>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center tournament__playerlist__item"></li>
		<span class="tournament__playerlist__item__name">Player 2</span>
		<button class="btn btn-danger btn-sm tournament__playerlist__item__removebtn">Remove</button>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center tournament__playerlist__item"></li>
		<span class="tournament__playerlist__item__name">Player 1</span>
		<button class="btn btn-danger btn-sm tournament__playerlist__item__removebtn">Remove</button>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center tournament__playerlist__item"></li>
		<span class="tournament__playerlist__item__name">Player 2</span>
		<button class="btn btn-danger btn-sm tournament__playerlist__item__removebtn">Remove</button>
		</li>
	</ul>
	<div class="d-flex justify-content-between">
		<button id="tournament__addplayerbtn" class="btn btn-primary">Add Player</button>
		<button id="tournament__startbtn" class="btn btn-success">Start!</button>
	</div>
</div>